@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial";
}

.bold {
  font-weight: bold !important;
}

.big {
  font-size: 28px !important;
}

.right {
  padding-right: 20px;
  border-radius: 0px 15px 15px 0px;
}

.left {
  padding-left: 20px;
  border-radius: 15px 0px 0px 15px;
}

.white {
  width: 100%;
  height: 300px;
  border: 2px solid white;
  border-radius: 20px;
}

.center {
  text-align: center !important;
  line-height: 30px;
}

.lime {
  color: #6dce0e !important;
}

.second {
  margin-left: 10px;
}

.decor {
  text-decoration: underline;
  -webkit-text-decoration-color: #6dce0e;
          text-decoration-color: #6dce0e;
  text-decoration-thickness: 6px;
}

.hidden {
  overflow: hidden;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 24px;
  text-align: center;
}

.focus {
  font-size: 28px;
  color: #6dce0e;
  text-align: center;
  font-weight: 600;
}

.margin_standart {
  margin: 30px 0px;
}

.head {
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  background-color: #10171f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Header styles */
.head {
  font-size: 18px;
  padding: 30px 0px;
  background-color: #0d131a;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border-bottom: 1px solid #6dce0e;
}

.head__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.number {
  font-weight: bold;
  display: block;
  color: white;
}

.head__mail a {
  color: white;
}

.head__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__menu {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__menu_punct {
  border: 1px solid #6dce0e;
  border-radius: 50px;
  padding: 10px 20px;
}

.head__menu_punct a {
  color: white;
}

.head__navmenu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__media {
  margin-right: 10px;
}

.menu-btn {
  display: none;
}

.open-button {
  background-color: #9fe831;
  font-size: 17px;
  color: black;
  padding: 15px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  border-radius: 40px;
}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
  display: none;
  position: fixed;
  right: 20%;
  border: 3px solid #6dce0e;
  z-index: 9;
  border-radius: 15px;
}

/* Добавить стили для контейнера формы */
.form-container {
  max-width: 100%;
  padding: 30px 10px;
  background-color: white;
  border-radius: 12px;
}

/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 12px 0px;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

.head .form-container input[type=tel] {
  margin: 12px 0px !important;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

.b__popup {
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  z-index: 6;
  top: 0px;
}

/* Установите стиль для кнопки отправить/войти */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
  background-color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px 10px 0px 10px;
  padding: 9px 14px;
  margin: -3px;
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-color {
  color: black;
  padding-right: 20px;
}

.container {
  width: 80%;
  margin: 0px auto;
}

/* Header styles end */
.first__block {
  background: url("../img/rapsback.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}
.first__block__title {
  margin-top: 40px;
}
.first__block__description {
  padding: 30px 0px;
  font-size: 22px;
}
.first__block__button {
  text-align: center;
  margin-top: 40px;
}
/* why */
.why {
  margin: 120px 0px;
}

.why__block {
  margin-bottom: 70px;
}

.why__block:last-child {
  margin-bottom: 30px;
}

.why__textblock {
  width: 75%;
  font-size: 24px;
  padding: 25px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #6dce0e;
  margin: 50px auto 60px auto;
  background: white;
  color: black;
  border-radius: 20px;
}

.why__bigtext {
  font-size: 64px;
  font-weight: bolder;
  -webkit-text-stroke: 2px #6dce0e;
  color: transparent;
  position: relative;
  top: 30px;
  left: 45%;
}

.why .focus {
  margin-top: 40px;
  font-size: 32px;
}

/* why end */
/* formblock */
.formblock {
  margin: 160px 0px;
}

.formblock .container {
  padding: 50px 30px 50px 0px;
  background-color: white;
  border: 1px solid #6dce0e;
  border-radius: 20px;
  color: black;
}

.formblock__title {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
  color: #6dce0e;
}

.formblock__form {
  padding-left: 210px;
}

.formblock__image {
  width: 350px;
  position: absolute;
  left: 20px;
}

.formblock__image img {
  width: 100%;
  height: 100%;
}

.formblock__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formblock__input {
  height: 40px;
  border-radius: 10px;
  padding: 15px;
  margin: 5px 0px;
  border: 1px solid black;
}

.formblock__btn {
  background-color: #9fe831;
  font-size: 16px;
  color: black;
  padding: 12px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  height: 43px;
  border-radius: 15px;
  margin-top: 15px;
}

.formblock__btn:hover {
  opacity: 1;
}

/* formblock end */
/* rossel */
.rossel {
  margin: 120px 0px;
}
.rossel__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rossel__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 15% 25px;
  text-align: left;
  font-size: 28px;
  line-height: 30px;
  word-spacing: 7px;
}
.rossel__text span {
  display: inline;
}
.rossel__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.rossel .white {
  height: 600px;
}

/* rossel end*/
.five__problem__title {
  margin-bottom: 25px;
}
.five__problem__focus {
  margin-bottom: 15px;
  text-align: left;
}
.five__problem__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0px;
}
.five__problem__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.five__problem__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.five__problem__description {
  margin-top: 25px;
  text-align: left;
}

.circle {
  height: 15px;
  width: 15px;
  position: relative;
  top: -6px;
  left: 0;
  border-radius: 50%;
  background: #6dce0e;
  -webkit-animation: polzunok 3s linear infinite alternate;
          animation: polzunok 3s linear infinite alternate;
}

.five__problem__horizontal {
  width: 100%;
  height: 3px;
  background: #6dce0e;
}

@-webkit-keyframes polzunok {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes polzunok {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
.facts {
  margin: 120px 0px;
}
.facts__title {
  margin-bottom: 35px;
}
.facts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.facts__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.facts__textblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  line-height: 28px;
  padding-top: 30px;
}

.exp__title {
  margin-bottom: 35px;
}
.exp__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.exp__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}
.exp__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 360px;
  margin-bottom: 40px;
}
.exp__blocks {
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}
.exp__block {
  padding: 25px;
  padding-bottom: 0px;
  border: 1px solid #6dce0e;
  border-radius: 20px;
  margin-bottom: 32px;
  text-align: left;
  background: white;
  color: black;
  font-size: 22px;
}
.exp__yes {
  position: relative;
  left: 96%;
  top: -8px;
  background: #6dce0e;
  color: white;
  padding: 17px 15px;
  width: 65px;
  margin-bottom: -20px;
  font-weight: bold;
}

.omut {
  margin: 120px 0px;
}
.omut__title {
  background: #6dce0e;
  border-radius: 30px;
  padding: 30px;
  margin: 0 8%;
}
.omut__description {
  margin: 45px 0px;
  line-height: 30px;
}
.omut__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}
.omut__table_title {
  margin: 20px 0px;
}

th {
  padding: 18px 9px;
  color: white;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#57a216), to(#a9e538));
  background: linear-gradient(0deg, #57a216, #a9e538);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

td {
  padding: 14px 9px;
  text-align: center;
}

.alignleft {
  text-align: left !important;
}

.shum {
  color: #717546 !important;
}

.mainwhite {
  background: #2a2b28 !important;
}

/*footer*/
.foot {
  border-top: 1px solid #6dce0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d131a;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  font-size: 18px;
}

.foot .number {
  display: inline-block;
}

.foot .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foot__block {
  padding: 20px;
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.foot__info {
  text-align: justify;
  line-height: 30px;
}

.foot__title {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 25px;
}

.foot__punct {
  padding-bottom: 30px;
}

.foot__punct a {
  color: white;
}

.foot__punct:before {
  content: "";
  background-image: url("http://prom-holding.com/wp-content/uploads/2022/08/right-arrow.png");
  background-size: cover;
  padding-right: 10px;
  margin-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
}

.foot__map {
  border: 1px solid #6dce0e;
}

.foot__address {
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
}

.foot__address:before {
  content: "";
  background-image: url("http://prom-holding.com/wp-content/uploads/2022/08/location.png");
  background-size: cover;
  padding-right: 13px;
  padding-top: 10px;
  margin-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
}

.foot__number {
  padding-bottom: 18px;
}

.foot__number:before {
  content: "";
  background-image: url("http://prom-holding.com/wp-content/uploads/2022/08/phone.png");
  background-size: cover;
  padding-right: 10px;
  margin-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
}

.foot__email {
  padding-bottom: 18px;
}

.foot__email a {
  color: white;
}

.foot__grafik {
  line-height: 25px;
}

.head .foot__grafik {
  margin-top: 5px;
}

.foot__grafik:before {
  content: "";
  background-image: url("http://prom-holding.com/wp-content/uploads/2022/08/time.png");
  background-size: cover;
  padding-right: 10px;
  margin-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
}

.cont {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}

.foot__email:before {
  content: "";
  background-image: url("http://prom-holding.com/wp-content/uploads/2022/09/email.png");
  background-size: cover;
  padding-right: 10px;
  margin-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
}

/* footer end */
/* callback */
.callBack {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 999;
}

.callBack__body {
  position: relative;
}

.callBack__icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  -webkit-transition: 1.3 ease-in-out;
  transition: 1.3 ease-in-out;
}

.callBack__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.callBack__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 1px solid #6dce0e;
  border-radius: 50%;
  -webkit-animation: pulse 1.1s linear infinite;
          animation: pulse 1.1s linear infinite;
}

.callBack__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 1px solid #6dce0e;
  border-radius: 50%;
  -webkit-animation: pulse 2.1s linear infinite;
          animation: pulse 2.1s linear infinite;
}

.callBack__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.callBack__phone,
.callBack__whatsApp,
.callBack__mail {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 0;
  margin: 10px;
  cursor: pointer;
  z-index: -1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: block;
}

.callBack__phone:hover,
.callBack__whatsApp:hover,
.callBack__mail:hover {
  width: 35px;
  height: 35px;
}

.callBack__phone.active {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.callBack__whatsApp.active {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

.callBack__mail.active {
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
}

#go-top {
  position: fixed;
  bottom: 25px;
  left: 10px;
  cursor: pointer;
  display: none;
  width: 50px;
  height: 60px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

#go-top img {
  width: 100%;
  height: 100%;
}

#go-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}